{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SOPHEN | Society of Public Health Engineers Nepal</title>

    <!-- Enable zoom on mobile device
    ========================================     -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">

    <!-- Animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

    <!-- Icofont -->
    <link rel="stylesheet" href="{% static 'css/icofont.css' %}">

    <!-- Mean menu -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}">

    <!-- venobox -->
    <link rel="stylesheet" href="{% static 'css/venobox.css' %}">

    <!-- magnific -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <!-- Owl carosel css -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Layout/Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Default css -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- fevicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/fevicon.png' %}">
    <style type="text/css">
    .post-title{
        line-height: 30px !important;
        text-align: justify;
    }
    .post-title h3
    {
        padding-top: 15px;
    }
    </style>
</head>



<body class="home2">

    <div id="preloader">
        <div class="preloader-content">
            <img src="{% static 'img/preloader.gif' %}" alt=""> 
        </div>
    </div>

{% if messages %}
    <div class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thank You!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      {% for message in messages %}
        <p>{{message}}</p>
        
      {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
    <!--==================================================
            Start Header area
    ==================================================-->
    <header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="header-logo">
                        <a href="/">
                            <img src="{% static 'img/logo.png' %}" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <nav class="mainmenu">
                        <ul>
                            {% for child in menu_root.not_deleted_children %}
                                    {% if request.path|cut:"/" == child.url|cut:"/" %}
                                        <li class="active">
                                    {% else %}
                                        <li>
                                    {% endif %}
                                    {% if child.not_deleted_children %}
                                            <a href="{{ child.url }}">{{ child.title }}</a>
                                            <div class="single-menu-container">
                                                <div class="single-menu-item">
                                                     <ul>
                                                        {% for sub_child in child.not_deleted_children %}
                                                            <li  style="">
                                                                <a href="{{ sub_child.url }}">{{ sub_child.title }}</a>
                                                            </li>
                                                        {% endfor %}
                                                        </ul>
                                                </div>
                                            </div>

                                           
                                    {% else %}
                                            <a href="{{ child.url }}">{{ child.title }}</a>
                                    {% endif %}
                                        </li>
                                {% endfor %}


                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        
        <!-- Start mobile menu -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                  {% for child in menu_root.not_deleted_children %}
                                    {% if request.path|cut:"/" == child.url|cut:"/" %}
                                        <li class="active">
                                    {% else %}
                                        <li>
                                    {% endif %}
                                    {% if child.not_deleted_children %}
                                            <a href="{{ child.url }}">{{ child.title }}</a>
                                            
                                                     <ul>
                                                        {% for sub_child in child.not_deleted_children %}
                                                            <li  style="">
                                                                <a href="{{ sub_child.url }}">{{ sub_child.title }}</a>
                                                            </li>
                                                        {% endfor %}
                                                        </ul>
                                                

                                           
                                    {% else %}
                                            <a href="{{ child.url }}">{{ child.title }}</a>
                                    {% endif %}
                                        </li>
                                {% endfor %}
                                  
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End mobile menu -->
    </header>
    <!--==================================================
            End Header area
    ==================================================-->

 {% block content %}
        {% endblock %}
    
    <!--==================================================
            Start Footer Area
    ==================================================-->
    <div class="footer-area">
        
        <div class="footer-bottom-area">
            <p>
                Copyright © 2017, Website Powered by 
                <a href="http://prixa.org">Prixa</a>
            </p>
        </div>
    </div>
    <!--==================================================
            End Footer Area
    ==================================================-->

    <!-- Vendor js -->
    <script src="{% static 'js/vendor/jquery-1.12.1.min.js' %}"></script>

    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Mean menu -->
    <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>

    <!-- owl carousel js -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <!-- owl carousel js -->
    <script src="{% static 'js/jquery.mixitup.min.js' %}"></script>

    <!-- wow js -->
    <script src="{% static 'js/wow.js' %}"></script>

    <!-- easing js -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- waypoint -->
    <script src="{% static 'js/waypoints.min.js' %}"></script>

    <!-- waypoint -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

    <!--  Google map api  -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv0r88fS4MjDxrYY-ShsD_LJ7M40Q6tis"
  type="text/javascript"></script>

    <!-- countdown -->
    <script src="{% static 'js/jquery.countdown.js' %}"></script>

    <!-- main js -->
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" data-cfasync="false" src="//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js" data-shr-siteid="3b67c4f0dfc095e6208cd2c49002ff39" async="async"></script>
        
    {% block extra_js %}
    {% endblock extra_js %}
</body>

</html>