{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="pebas - http://themeforest.net/user/pebas/">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Title -->
    <title>
    {% block title%}
    SOPHEN
    {% endblock title %}
    </title>
    <style type="text/css">
        .passive{
            border-style: solid;
            border-color: #00acc1;
        }
    </style>
    {% include 'layouts/frontend/include/head.html' %}
    {% block extra_head %}
    {% endblock extra_head%}

</head>

<body>

    <!-- preloader -->
    <div class='preloader'>
        <div class="preloader-content-wrapper">
            <div class="preloader-content">
                <i class="fa fa-cog fa-3x fa-spin"></i>
            </div>
        </div>
    </div>
    <!-- .preloader -->

    <!-- top bar -->
    <header class="top-bar">
        <div class="container">
            <div class="row">

                <!-- languages -->
                <div class="col-md-4 col-xs-6">
                    <div class="languages nav-root">

                        <!-- trigger -->
                        <div class="pt-nav-trigger">
                            <button><i class="fa fa-globe"></i> English <i class="fa fa-angle-down"></i>
                            </button>
                        </div>
                        <!-- trigger -->
                    </div>
                </div>
                <!-- .languages -->

                <!-- add info -->
                <div class="col-md-8 col-xs-12 clearfix">
                    <div class="add-info">

                        <!-- menu list -->
                        <nav>
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-phone"></i> +977-1-4006650, 01-6208276</a>
                                </li>
                                <li><a href="mailto:info@sophen.org.np"><i class="fa fa-envelope-o"></i>info@sophen.org.np</a>
                                </li>
                            </ul>
                            <!-- .menu list -->
                        </nav>

                    </div>
                </div>
                <!-- .add info -->

            </div>
        </div>
    </header>
    <!-- .top bar -->

    <!-- main header -->
    <header class="main-header">

        <div class="container">
            <div class="row">

                <!-- logo -->
                <div class="col-md-2">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'sophen-logo.png' %}" title="SOPHEN" alt="SOPHEN" />
                        </a>
                    </div>
                </div>
                <!-- .logo -->



                <!-- main nav -->
                <div class="col-md-10">
                    <div class="main-nav nav-root">

                        <!-- trigger -->
                        <div class="pt-nav-trigger">
                            <button><i class="fa fa-bars"></i>Navigation
                            </button>
                        </div>

                        <!-- trigger -->
                        <nav class="pt-nav clearfix">


                            <!-- menu list -->
                            <ul class="clearfix">

                                {% for child in menu_root.not_deleted_children %}
                                    {% if request.path|cut:"/" == child.url|cut:"/" %}
                                        <li class="passive">
                                    {% else %}
                                        <li>
                                    {% endif %}
                                    {% if child.not_deleted_children %}
                                            <a href="{{ child.url }}">{{ child.title }}</a>
                                            <ul class="sub-menu">
                                            {% for sub_child in child.not_deleted_children %}
                                                <li  style="">
                                                    <a href="{{ sub_child.url }}">{{ sub_child.title }}</a>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                    {% else %}
                                            <a href="{{ child.url }}">{{ child.title }}</a>
                                    {% endif %}
                                        </li>
                                {% endfor %}
                            </ul>
                            <!-- .menu list -->

                        </nav>
                    </div>
                </div>
                <!-- .main nav -->

            </div>
        </div>
    </header>
    <!-- .main-header -->

{% block content %}
{% endblock content %}
    <!-- logo & social -->
    <section class="blue-background">
        <div class="container">
            <div class="row">

                <!-- logo -->
                <div class="col-md-6 col-xs-6 text-left">

                </div>
                <!-- .logo -->

                <!-- social -->
                <div class="col-md-6 col-xs-6 text-right">
                    <ul class="social list-inline list-unstyled">
                        <li><a href="#"><i class="fa fa-twitter-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-google-plus-square"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- .social -->

            </div>
        </div>
    </section>
    <!-- .logo & social -->


    <!-- footer -->
    <footer class="dark-background">
        <div class="container">
            <div class="row">

                <!-- footer menu -->
                <div class="col-md-8 col-xs-8 text-left">
                </div>
                <!-- footer menu -->

                <!-- copyrights -->
                <div class="col-md-4 col-xs-4 text-left">
                    Society of Public Health Engineers, Nepal<br/>
                    (SOPHEN)<br>
                    P.O.Box: 24006, Panipokhari, Kathmandu Nepal<br>
                    Tel: 977-1-4006650, 016208276<br>
                    E-mail: info@sophen.org.np
                    www.sophen.org.np
                </div>
                <!-- .copyrights -->
            </div>
        </div>
    </footer>
    <!-- .footer -->
    {% include 'layouts/frontend/include/javascript.html' %}
    {% block extra_js %}
    {% endblock extra_js%}


</body>

</html>
