{% load staticfiles %}
    <!-- jQuery (necessary for Bootstrap 's JavaScript plugins) -->
    <script src="{% static 'frontend/js/jquery-1.11.1.min.js' %}"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'frontend/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>

    <!-- Include all template custom js -->
    <script src="{% static 'frontend/js/jquery.downCount.js' %}"></script>
    <script src="{% static 'frontend/js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'frontend/js/zabuto_calendar.min.js' %}"></script>
    <script src="{% static 'frontend/js/ekko-lightbox.js' %}"></script>
    <script src="{% static 'frontend/js/custom.js' %}"></script>
