{%extends 'layouts/frontend/base.html' %}
{% load staticfiles%}
{% block content %}
<!-- breadcrumbs -->
<div class="page-banner-area">
        <div class="container">
            <div class="col-md-4 col-md-offset-4">
                <div class="page-banner-content">
                    <div class="section-title">
                        <h2>Conference Registration</h2>
                    </div>
                    <div class="other-page">
                        <ul>
                            <li>
                                <a href="/">
                                    Home
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    Conference Registration
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="map-content-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>BECOME A PART OF OUR EVENT</h2>
                    </div>
                    <div class="section-content">
                        <p>Please fill in the form for registering into the Conference. If any confusion, please mail us at sophenconference@gmail.com </p>
                    </div>
                </div>
            </div>
            
       








            <div class="row">

                <!-- map -->
                <div class="col-md-12">
                    <div class="box-wrapper">
                        <div class="box">
                            <div class="donate-form">

                              
                                <hr class="inline-hr" />

                                <!-- form -->
                                <div class="content">
                                    <form method="POST" action="" enctype="multipart/form-data">
                                    {% csrf_token %}
                                            {% for field in form %}
                                                  
                                                   {{ field.errors }}
                                                        <div class="form-group">
                                                    <h6> {{ field.label}}</h6>
                                                            {{ field }}
                                                        </div>
                                            {% endfor %}

                                            <div class="form-group">
                                                <input type="submit" value="Submit"/>
                                            </div>

                                        <!-- .widget-box -->

                                    </form>
                                </div>
                                <!-- .form -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- .map -->

            </div>
 </div>
    </div>

{% endblock content %}

