{%extends 'layouts/frontend/base.html' %}
{% load staticfiles%}
{% block content %}
<!-- breadcrumbs -->
<section class="breadcrumbs">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <!-- page title -->
                <div class="col-md-6 col-xs-6">
                    <h4>Conference Registration</h4>
                </div>
                <!-- .page title -->

                <!-- breadcumbs -->
                <div class="col-md-6 col-xs-6">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'website:home' %}">Home</a>
                        </li>
                        <li class="active"><a href="#">Conference Registration</a>
                        </li>
                    </ol>
                </div>
                <!-- .breadcrumbs -->
            </div>
        </div>
    </div>
</section>

<section>
        <div class="container">
            <div class="row">

                <!-- map -->
                <div class="col-md-12">
                    <div class="box-wrapper">
                        <div class="box">
                            <div class="donate-form">

                                <div class="content comments">
                                    <h5 class="grey">Membership Form</h5>
                                    </h4>
                                </div>
                                <hr class="inline-hr" />

                                <!-- form -->
                                <div class="content">
                                    <form method="POST" action="" enctype="multipart/form-data">
                                    {% csrf_token %}
                                            {% for field in form %}
                                                  <div class="widget-box">
                                                   {{ field.errors }}
                                                    <h6> {{ field.label_tag }}</h6>
                                                        <div class="form-group">
                                                            {{ field }}
                                                        </div>
                                                    </div>
                                            {% endfor %}

                                            <div class="form-group">
                                                <button type="submit" class="button-normal full blue">Submit</button>
                                            </div>

                                        <!-- .widget-box -->

                                    </form>
                                </div>
                                <!-- .form -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- .map -->

            </div>
        </div>
    </section>

{% endblock content %}

