{% extends 'layouts/admin/base.html' %}

{% block head_title %}
    {{block.super}} | Event Detail
{% endblock %}

{% block content %}
<section>
<div class="section-body contain-lg">
    <div class="card card-tiles style-default-light">
        <div class="row style-primary">
            <div class="col-sm-12">
                <div class="card-body style-default-dark">
                    <h2>{{event.title}}</h2>
                    <div class="text-default-light">Posted by Admin</div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- BEGIN BLOG POST TEXT -->
            <div class="col-md-12">
                <article class="style-default-bright">
                    <div>
                        <img class="img-responsive" src="{{event.photo.url}}" alt="" />
                    </div>
                    <div class="card-body">
                        <p>{{event.description|safe}}</p>
                    </div><!--end .card-body -->
                </article>
            </div><!--end .col -->
            <!-- END BLOG POST TEXT -->
        </div>
    </div>
</div>
</section>
{% endblock %}

{% block extra_js%}
<script type="text/javascript">
    $('#event').addClass('active')
</script>
{% endblock %}
