{% extends 'layouts/admin/base.html' %}
{% load staticfiles %}
{% block head_title %}
    {{block.super}} | Event Create
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css">
<section>
<div class="section-body contain-lg">
    <div class="card">
        <div class="card-body">
            <form action="" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
                 {% csrf_token %}
                {{form.as_p}}
                {{form.media}}
                <button class="btn ink-reaction btn-primary btn-raised" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
</section>
{% endblock %}

{% block extra_js%}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript">
    $('#event').addClass('active');
</script>
<script type="text/javascript">
     $(function(){
            $('#id_event_date').datetimepicker({
          format:'Y-m-d H:i'         
        }); 
     });
    

</script>


{% endblock %}
