{%extends 'layouts/frontend/base.html' %}
{% load staticfiles%}
{% load split %}

{%block extra_head %}
<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/libs/DataTables/jquery.dataTables.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/libs/DataTables/extensions/dataTables.colVis.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'assets/css/theme-default/libs/DataTables/extensions/dataTables.tableTools.css' %}" />
{% endblock %}

{% block content %}
<!-- breadcrumbs -->
 <div class="page-banner-area">
        <div class="container">
            <div class="col-md-4 col-md-offset-4">
                <div class="page-banner-content">
                    <div class="section-title">
                        <h2>Files</h2>
                    </div>
                    <div class="other-page">
                        <ul>
                            <li>
                                <a href="/">
                                    Home
                                </a>
                            </li>
                            <li class="active"><a href="{% url 'website:frontendFileList' %}">Files</a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="blog-page-area" style="padding-top:10px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="single-blog-content">
                        <div class="table-responsive">
                <table id="" class="table table-striped table-hover"  style="margin-bottom:30px">
                    <thead>
                        <tr>
                            <th class="sort-numeric">S.N.</th>
                            <th class="sort-alpha">Name</th>
                            <th class="sort-alpha">File</th>
                    </thead>
                    <tbody>
                        {% for file in files %}
                            <tr>
                                <td class="sort-numeric">{{forloop.counter}}</td>
                                <td>{{file.name}}</td>
                                <td><a href="{{file.file.url}}" download>{{file.file.url|split:"/"}}</a> <a href="{{file.file.url}}" download><i class="fa fa-download"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                        
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>


<!-- blog posts & widgets -->
<section>
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table id="datatable1" class="table table-striped table-hover"  style="margin-bottom:30px">
                    <thead>
                        <tr>
                            <th class="sort-numeric">S.N.</th>
                            <th class="sort-alpha">Name</th>
                            <th class="sort-alpha">File</th>
                    </thead>
                    <tbody>
                        {% for file in files %}
                            <tr>
                                <td class="sort-numeric">{{forloop.counter}}</td>
                                <td>{{file.name}}</td>
                                <td><a href="{{file.file.url}}" download>{{file.file.url|split:"/"}}</a> <a href="{{file.file.url}}" download><i class="fa fa-download"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!--end .table-responsive -->
        </div>
    </div>
</section>

{% endblock content %}


{% block extra_js%}
<script src="{% static 'assets/js/libs/DataTables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/libs/DataTables/extensions/ColVis/js/dataTables.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/libs/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>
<script type='text/javascript'>
(function(namespace, $) {
    "use strict";
    var DemoTableDynamic = function() {
        var o = this;
        $(document).ready(function() {
            o.initialize();
        });

    };
    var p = DemoTableDynamic.prototype;
    p.initialize = function() {
        this._initDataTables();
    };
    p._initDataTables = function() {
        if (!$.isFunction($.fn.dataTable)) {
            return;
        }
        this._createDataTable1();
    };

    p._createDataTable1 = function() {
        $('#datatable1').DataTable({
            "dom": 'lCfrtip',
            "order": [],
            "colVis": {
                "buttonText": "Columns",
                "overlayFade": 0,
                "align": "right"
            },
            "language": {
                "lengthMenu": '_MENU_ entries per page',
                "search": '<i class="fa fa-search"></i>',
                "paginate": {
                    "previous": '<i class="fa fa-angle-left"></i>',
                    "next": '<i class="fa fa-angle-right"></i>'
                }
            }
        });
    };
    namespace.DemoTableDynamic = new DemoTableDynamic;
}(this.materialadmin, jQuery)); // pass in (namespace, jQuery):
</script>
{% endblock %}
