{%extends 'layouts/frontend/base.html' %}
{% load staticfiles%}
{% block content %}
<!-- breadcrumbs -->
<section class="breadcrumbs">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <!-- page title -->
                <div class="col-md-6 col-xs-6">
                    <h4>Membership</h4>
                </div>
                <!-- .page title -->

                <!-- breadcumbs -->
                <div class="col-md-6 col-xs-6">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'website:home' %}">Home</a>
                        </li>
                        <li class="active"><a href="#">Membership</a>
                        </li>
                    </ol>
                </div>
                <!-- .breadcrumbs -->
            </div>
        </div>
    </div>
</section>

<section>
        <div class="container">
            <div class="row">

                <!-- map -->
                <div class="col-md-12">
                    <div class="box-wrapper">
                        <div class="box">
                            <div class="donate-form">

                                <div class="content comments">
                                    <h5 class="grey">Membership Form</h5>
                                    </h4>
                                </div>
                                <hr class="inline-hr" />

                                <!-- form -->
                                <div class="content">
                                    <form method="POST" action="" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <!-- widget box -->
                                        <div class="widget-box">
                                        <h6>1. Name of Applicant</h6>
                                            <div class=" form-group row">
                                                <div class="col-md-4">
                                                    {{form.first_name}}
                                                </div>
                                                <div class="col-md-4">
                                                    {{form.middle_name}}
                                                </div>
                                                <div class="col-md-4">
                                                    {{form.last_name}}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .widget box -->

                                        <!-- widget box -->
                                        <div class="widget-box">
                                        <h6>2. Father's Name</h6>
                                            <div class=" form-group">
                                                {{form.fathers_name}}
                                            </div>
                                        </div>
                                        <!-- .widget box -->

                                        <!-- widget box -->
                                        <div class="widget-box">
                                        <h6>3. Photo</h6>
                                            <div class=" form-group">
                                                {{form.photo}}
                                            </div>
                                        </div>
                                        <!-- .widget box -->
                                        <div class="widget-box">
                                        <h6>4. Date of Birth</h6>
                                            <div class=" form-group">
                                                {{form.dob}}
                                            </div>
                                        </div>
                                        <!-- .widget box -->

                                        <!-- widget box -->
                                        <div class="widget-box">
                                        <h6>5. Permanent Address</h6>
                                            <div class=" form-group">
                                                {{form.permanent_address}}
                                                {{form.media}}
                                            </div>
                                        </div>
                                        <!-- .widget box -->

                                        <!-- widget box -->
                                        <div class="widget-box">
                                        <h6>6. Mailing Address</h6>
                                            <div class=" form-group">
                                                {{form.mailing_address}}
                                            </div>
                                        </div>
                                        <!-- .widget box -->

                                        <!-- widget box -->
                                        <div class="widget-box">
                                        <h6>7. Technical Qualification</h6>
                                            <div class=" form-group row">
                                                <div class="col-md-3">
                                                    {{form.degree_1}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.major_1}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.institution_1}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.year_1}}
                                                </div>
                                            </div>
                                            <div class=" form-group row">
                                                <div class="col-md-3">
                                                    {{form.degree_2}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.major_2}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.institution_2}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.year_2}}
                                                </div>
                                            </div>
                                            <div class=" form-group row">
                                                <div class="col-md-3">
                                                    {{form.degree_3}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.major_3}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.institution_3}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.year_3}}
                                                </div>
                                            </div>
                                            <div class=" form-group row">
                                                <div class="col-md-3">
                                                    {{form.degree_4}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.major_4}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.institution_4}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.year_4}}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .widget box -->

                                        <!-- widget box -->
                                        <div class="widget-box">
                                        <h6>8. Details of Experince as a Public Health Engineer</h6>
                                            <div class=" form-group row">
                                                <div class="col-md-3">
                                                    {{form.from_1}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.to_1}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.organization_1}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.description_of_work_1}}
                                                </div>
                                            </div>
                                            <div class=" form-group row">
                                                <div class="col-md-3">
                                                    {{form.from_2}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.to_2}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.organization_2}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.description_of_work_2}}
                                                </div>
                                            </div>
                                            <div class=" form-group row">
                                                <div class="col-md-3">
                                                    {{form.from_3}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.to_3}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.organization_3}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.description_of_work_3}}
                                                </div>
                                            </div>
                                            <div class=" form-group row">
                                                <div class="col-md-3">
                                                    {{form.from_4}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.to_4}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.organization_4}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.description_of_work_4}}
                                                </div>
                                            </div>
                                            <div class=" form-group row">
                                                <div class="col-md-3">
                                                    {{form.from_5}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.to_5}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.organization_5}}
                                                </div>
                                                <div class="col-md-3">
                                                    {{form.description_of_work_5}}
                                                </div>
                                            </div>

                                        </div>
                                        <!-- .widget box -->

                                        <!-- widget box -->
                                        <div class="widget-box">
                                        <h6>8. Membership of any other Professional/Engineering Society</h6>
                                            <div class="form-group">
                                                {{form.membership_of_any_other}}
                                            </div>
                                        </div>
                                        <!-- .widget box -->

                                        <!-- widget box -->
                                        <div class="widget-box">
                                        <h6>9. Present Occupation</h6>
                                            <div class=" form-group row">
                                                <div class="col-md-6">
                                                    {{form.present_position}}
                                                </div>
                                                <div class="col-md-6">
                                                    {{form.employeer}}
                                                </div>
                                            </div>
                                            <div class=" form-group">
                                                {{form.office_address}}
                                            </div>
                                        </div>
                                        <!-- .widget box -->

                                        <!-- widget box -->
                                        <div class="widget-box">
                                        <h6>10. Recommendation</h6>
                                            <div class=" form-group row">
                                                <div class="col-md-4">
                                                    {{form.recommenders_name}}
                                                </div>
                                                <div class="col-md-4">
                                                    {{form.membership_no}}
                                                </div>
                                                <div class="col-md-4">
                                                    {{form.membership_status}}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{form.address}}
                                            </div>
                                        </div>
                                        <!-- .widget box -->

                                        <!-- widget box -->

                                            <div class="form-group">
                                                <button type="submit" class="button-normal full blue">Submit</button>
                                            </div>

                                        <!-- .widget-box -->

                                    </form>
                                </div>
                                <!-- .form -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- .map -->

            </div>
        </div>
    </section>

{% endblock content %}

